<div class="container text-center d-flex justify-content-center align-items-center" style="height: 500px;">
  <div>
    <h1>About</h1>
    <div style="font-size: 120%;">
      <p>
        このbookers3は</br>
      ネット上に存在する</br>
      あらゆる二次小説を</br>
      収集・蓄積し保存しよう！！！！</br>
      </p>
    </div>
 </div>
</div>