<div class="container text-center d-flex justify-content-center align-items-center" style="height: 500px;">
  <div>
    <h1>ようこそ、bookers3へ</h1>
    <div style="font-size: 120%;">
      <p>
        ここでは様々な二次小説を、</br>
        探し、読み、そして蓄積し</br>
        図書館を創りましょう！！
      </p>
    </div>
       <%= link_to "ようこそ、bookers3", class:"btn btn-dark" %>
 </div>
</div>